@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My ASP.NET Application</h1>
    <p class="lead">Congratulations!, Your Amazon Amazon Elastic Container Service (Amazon ECS) ASP.NET application is now running on your own dedicated environment in the AWS Cloud.</p>
   

    <p>In-Depth Introduction</p>

    <div class="video-responsive">
        <iframe src="https://www.youtube.com/embed/qbEPae8YNbs?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <br/>
    <p><a href="https://www.youtube.com/channel/UCd6MoB9NC6uYN2grvUNT-Zg" class="btn btn-primary btn-lg">Watch more &raquo;</a></p>

</div>
<div class="jumbotron">
    <h2><a href="https://github.com/aws-quickstart/quickstart-dotnetfx-ecs-cicd">Visit GitHub project page</a></h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>AWS SDK for .NET</h2>
        <p>
            .NET SDK makes it easier for Windows developers to build .NET applications that tap into the cost-effective, scalable, and reliable AWS infrastructure.
        </p>
        <p><a class="btn btn-default" href="http://aws.amazon.com/sdkfornet/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Amazon ECS</h2>
        <p>Amazon Elastic Container Service (Amazon ECS) is a fully managed container orchestration service. By running on ECS, your web applications benefit from the performance, scale, reliability, and availability of the AWS.</p>
        <p><a class="btn btn-default" href="https://aws.amazon.com/ecs/getting-started/">Get Started with Amazon ECS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>AWS CodePipeline</h2>
        <p>AWS CodePipeline is a fully managed continuous delivery service that helps you automate your release pipelines for fast and reliable application and infrastructure updates.</p>
        <p><a class="btn btn-default" href="https://docs.aws.amazon.com/codepipeline/latest/userguide/ecs-cd-pipeline.html">Learn more &raquo;</a></p>
    </div>
</div>
